body{
    padding: 0;
    margin: 0;
    background-image: url("back_color05.png");
    /* url("https://i.imgur.com/uHfXyF7.jpg"); 全彩 */
    /* url("https://i.imgur.com/OTzuMDZ.jpg"); 半彩 */
    /* url("https://i.imgur.com/gWCrKjp.jpg"); 黑白 */
    /*url('back3.png');*/
    background-size: 100%;
    font-size: 1.1em;
}
label{
    margin-left: 5px;
}

.btnMy{
    border: none;
    border-radius: 99em;
}

.hide{
    display: none !important;
}
.flex{
    display: flex;
    flex-direction: row;
}
.inline_box{
    display: inline-block;
    display: flex;
}
.searchWordCard{
    background-color: rgb(224, 224, 224);
    display: flex;
    align-items: center;
    justify-self: center;
}
.title_word{
    border-bottom: 1px solid rgb(163, 163, 163);
    margin: 10px 0 15px 0 !important;
    font-weight: 700;
}
.TOP3{
    padding: 3px;
    background-color: rgb(252, 172, 54);
}

#titleImage{
    width: 25vw;
    height: 7vh;
    background-image: url("title.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#ans{
    /* background-color: snow; */
    height: 60px;
    padding-top: 8px;
}

#head{
    width: 100%;
    height: 12vh;
    background-color: rgb(119, 119, 119);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.8em;

}

#container{
    background-color: rgba(255, 255, 255, 0.9);
    width: 80vw;
    margin: 20px 10vw;
    display: flex;
    padding: 20px 2vw;
    /* flex-direction: */
}

#boxLeft{
    /* background-color: rgba(255, 255, 255, 0.8); */
    height: 75vh;
    display: flex;
    flex: 7;
    flex-direction: column;
    padding-right: 20px;
}
#boxRight{
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* margin-left: 20px; */
    padding-left: 20px;
    display: flex;
    flex: 3;
    flex-direction: column;
    border-left: 1px solid rgb(146, 151, 155);
}
#userSearch{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    /* margin-top: 10px; */
    flex-wrap:wrap;
    padding-left: 10px;
    
}
